@rem-base: rem-base(10px);

@import "ovh-ui-kit/packages/oui/stylekit";
// OVH-UI-KIT Bootstrap theme.
@import "ovh-ui-kit-bs/src/ovh-ui-kit-bs";
@import "ovh-manager-webfont/dist/less/ovh-font.less";

// Paths of the dependencies.
@bs-path: "bootstrap";
@oui-path: "ovh-ui-kit";
@icon-font-path: "../../bootstrap/fonts/";

@oui-icon-dist-folder: "../../dist/icons";
@ovh-font-path: "../fonts";

@import "ovh-angular-sidebar-menu/src/less/ovh-angular-sidebar-menu";
// @import "ovh-angular-sidebar-menu/src/less/ovh-angular-sidebar-menu.dependencies.less";

@SIDEBAR_MENU_OFFSET_TOP: 0;
@SIDEBAR_MENU_ACTIVE_COLOR: #59d2ef;

@import 'navbar/navbar';

.overflow-hidden {
  overflow: hidden;
}
